<div ng-controller="profDetailsController">

    <h3 align="center">{{profDet.nombres}} {{profDet.a_paterno}} {{profDet.a_materno}}</h3>
    <br>


    <form class="form-inline ">
        <div class="form-group">
            <!--Telefono fijo-->
            <div class="col-md-6 ">
                <label for="telFijo"> Teléfono fijo: </label>
                <input id="telFijo" class="form-control" value="{{profDet.f_telefono}}"/>
            </div>

            <!--Cedula-->
            <div class="col-md-6 ">
                <label for="cedula"> Cédula: </label>
                <input id="cedula" class="form-control" value="{{profDet.cedula}}"/>
            </div>
            <!--Telefono movil-->
            <div class="col-md-6 ">
                <label for="telMovil"> Teléfono movil: </label>
                <input id="telMovil" class="form-control" value="{{profDet.m_telefono}}"/>
            </div>

            <!--RFC-->
            <div class="col-md-6 ">
                <label for="rfc"> RFC: </label>
                <input id="rfc" class="form-control" value="{{profDet.rfc}}"/>
            </div>

            <!--Telefono trabajo-->
            <div class="col-md-6 ">
                <label for="telTrabajo"> Teléfono trabajo: </label>
                <input id="telTrabajo" class="form-control" value="{{profDet.t_telefono}}"/>
            </div>

            <!--Fecha ingreso-->
            <div class="col-md-6 ">
                <label for="fIngreso"> Fecha de ingreso: </label>
                <input id="fIngreso" class="form-control" value="{{profDet.f_ingreso}}"/>
            </div>

            <!--Ext -->
            <div class="col-md-6 ">
                <label for="ext"> Ext: </label>
                <input id="ext" class="form-control" value="{{profDet.ext}}"/>
            </div>

            <!--Examen oposición -->
            <div class="col-md-6 ">
                <label for="exOp"> Exámen de oposición: </label>
                <input id="exOp" class="form-control" value="{{profDet.ex_oposicion}}"/>
            </div>

            <!--Correo -->
            <div class="col-md-6 ">
                <label for="correo"> Correo eléctronico: </label>
                <input id="correo" class="form-control" value="{{profDet.mail}}"/>
            </div>

            <!--Grado-->
            <div class="col-md-6 ">
                <label for="grado"> Grado: </label>
                <input id="grado" class="form-control" value="{{profDet.grado}}"/>
            </div>
        </div>
    </form>
    <div class="container ">
        <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#cursos">Cursos</button>
        <div id="cursos" class="collapse">
            <h2 align="center">Cursos</h2>
            <table class="table table-hover">
                <tr>
                    <th>Curso</th>
                    <!--<th>Descripción</th>-->
                    <!--<th>Eje</th>-->
                    <!--<th>Tipo de curso</th>-->
                    <th>Fecha inicio</th>
                    <th>Fecha fin</th>
                    <th>Horas</th>
                </tr>
                <tr ng-repeat="curso in profCursos">
                    <td>{{curso.curso}}</td>
                    <td>{{curso.inicio}}</td>
                    <td>{{curso.termino}}</td>
                    <td>{{curso.horas}}</td>
                </tr>
            </table>
        </div>
    </div>
    <br>

    <div class="container">
        <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#calificaciones">Calificaciones
        </button>
        <div id="calificaciones" class="collapse">
            <h2 align="center">Calificaciones</h2>
            <table class="table table-hover">
                <tr>
                    <th>Periodo</th>
                    <th>Grupo</th>
                    <th>Asignatura</th>
                    <!--<th>Dominio del grupo</th>-->
                    <th>Puntualidad</th>
                    <th>Contenido</th>
                    <th>Didáctica</th>
                    <th>Planeación</th>
                    <th>Evaluación</th>
                    <th>Actitud</th>
                    <th>Promedio</th>
                </tr>
                <tr ng-repeat="cal in profCal">
                    <td>{{cal.periodo}}</td>
                    <td>{{cal.grupo}}</td>
                    <td>{{cal.materia}}</td>
                    <td>{{cal.puntualidad}}</td>
                    <td>{{cal.contenido}}</td>
                    <td>{{cal.didactica}}</td>
                    <td>{{cal.evaluacion}}</td>
                    <td>{{cal.planeacion}}</td>
                    <td>{{cal.actitud}}</td>
                    <td>{{cal.promedio}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>