<div ng-controller="profesorController">
    <h3 align="center">Consultar profesor</h3>
    <br>
    <div class="container-fluid">
        <div class="form-group">
            <label for="profName"> Nombre Profesor </label>
            <input
                    id="profName"
                    class="form-control"
                    placeholder="Profesor" ng-model="query"
                    value="oscar"
                    ng-keypress="($event.which === 13)?queryProfessors():0"/>

        </div>
        <div class=""></div>

        <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#busqueda">Búsqueda avanzada
        </button>
        <button type="button" class="btn btn-default right-block"
                ng-click="queryProfessors()">
            <i class="fa fa-search"></i> Buscar
        </button>
        <div id="busqueda" class="collapse container-fluid form-group well">
            <p align="center">Búsqueda avanzada</p>
            <label for="profMateria">Materia</label>
            <select id="profMateria" class="form-control"></select>
            <label for="profPeriodo">Periodo</label>
            <select id="profPeriodo" class="form-control"></select>


        </div>

        <p>{{searchResult.length}} : resultados</p>
    </div>

    <div ng-repeat="profesor in searchResult" >
        <div class="col-lg-6 col-md-6">
            <div class="panel panel-primary">
                <a href="" ng-click="getProfessorDetails(profesor)">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-male" ></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div><p>{{profesor.a_paterno}} {{profesor.a_materno}}
                                {{profesor.nombres}} </p>
                                <h6>Promedio: {{profesor.promedio}}</h6>
                            </div>
                        </div>
                    </div>
                </div>
                </a>
            </div>
        </div>
    </div>
</div>
