<div ng-controller="cursoDetailController">
    <div>
        <h3 align="center">{{curso.curso}} </h3>
    </div>
    <br>
    <div>
        <div class="span9 btn-block">
            <button type="button" class="btn btn-large btn-block btn-primary -align-center" style="cursor:default;">
                Profesores
            </button>
        </div>
        <!--<a >-->
            <i class="fa fa-print -align-right" ng-click="generateCSV(profCursos, 'Profesores'  )"></i>
        <!--</a>-->

        <div class="table-responsive ">
            <!--<h4 align="center">Cursos</h4>-->
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Profesor</th>
                    <th>Curso</th>
                    <!--<th>Descripción</th>-->
                    <!--<th>Eje</th>-->
                    <!--<th>Tipo de curso</th>-->
                    <th>Fecha inicio</th>
                    <th>Fecha fin</th>
                    <th>Horas</th>
                    <th>Archivo</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="curso in profCursos">
                    <td>{{curso.nombres}} {{curso.a_paterno}} {{curso.a_materno}}</td>
                    <td>{{curso.curso}}</td>
                    <td>{{curso.inicio}}</td>
                    <td>{{curso.termino}}</td>
                    <td>{{curso.horas}}</td>
                    <td>
                        <div ng-hide="curso.constancia === null">
                            <a href="{{filesLoc+curso.constancia}}" download="img.png">Descargar Archivo</a>
                            <button type="button" class="btn btn-default" ng-click="removeConstancia(curso)"
                                    ng-confirm-click="Eliminar archivo?">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </div>
                        <button type="file" id="exOp" type="file" ng-hide="curso.constancia !== null"
                                ngf-select="uploadConstancia(curso,$files)">Subir archivo
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <br>
    <!--<div>-->
    <!--<div class="span9 btn-block">-->
    <!--<button type="button" class="btn btn-large btn-block btn-primary -align-center" data-toggle="collapse" data-target="#calificaciones">Calificaciones-->
    <!--</button>-->
    <!--</div>-->
    <!--<i class="fa fa-print -align-right" ng-click="generateCSV(profCal,'Calificaciones')"></i>-->
    <!--<div id="calificaciones" class="collapse">-->
    <!--<table class="table table-hover table-condensed">-->
    <!--<tr>-->
    <!--<th>Periodo</th>-->
    <!--<th>Grupo</th>-->
    <!--<th>Asignatura</th>-->
    <!--&lt;!&ndash;<th>Dominio del grupo</th>&ndash;&gt;-->
    <!--<th>Puntualidad</th>-->
    <!--<th>Contenido</th>-->
    <!--<th>Didáctica</th>-->
    <!--<th>Planeación</th>-->
    <!--<th>Evaluación</th>-->
    <!--<th>Actitud</th>-->
    <!--<th>Promedio</th>-->
    <!--<th>Archivo</th>-->
    <!--</tr>-->
    <!--<tr ng-repeat="cal in profCal">-->
    <!--<td>{{cal.periodo}}</td>-->
    <!--<td>{{cal.grupo}}</td>-->
    <!--<td>{{cal.materia}}</td>-->
    <!--<td>{{cal.puntualidad}}</td>-->
    <!--<td>{{cal.contenido}}</td>-->
    <!--<td>{{cal.didactica}}</td>-->
    <!--<td>{{cal.evaluacion}}</td>-->
    <!--<td>{{cal.planeacion}}</td>-->
    <!--<td>{{cal.actitud}}</td>-->
    <!--<td>{{cal.promedio}}</td>-->
    <!--<td>-->
    <!--<div ng-hide="cal.comprobante === null">-->
    <!--<a href="{{filesLoc+cal.comprobante}}" download="img.png">Descargar Archivo</a>-->
    <!--<button type="button" class="btn btn-default" ng-click="removeComprobante(cal)" ng-confirm-click="Eliminar archivo?">-->
    <!--<span class="glyphicon glyphicon-remove"></span>-->
    <!--</button>-->
    <!--</div>-->
    <!--<button type="file" id="exOp" type="file" ng-hide="cal.comprobante!== null" ngf-select="uploadComprobante(cal,$files)">Subir archivo-->
    <!--</button>-->
    <!--</td>-->
    <!--</tr>-->
    <!--</table>-->
    <!--</div>-->
    <!--</div>-->
</div>