<div ng-controller="cursoController">
    <h3 align="center">Consultar cursos</h3>
    <br>
    <form ng-keypress="queryCursos($event,query)">
        <div class="container-fluid">
            <div class="form-group">
                <label for="profName"> Nombre curso </label>
                <input
                        id="profName"
                        class="form-control"
                        placeholder="Profesor" ng-model="query.name"
                />
            </div>
            <!--<button type="button" class="btn btn-info" data-toggle="collapse" data-target="#busqueda">Búsqueda-->
            <!--avanzada-->
            <!--</button>-->
            <button type="button" class="btn btn-default right-block"
                    ng-click="queryCursos($event,query)">
                <i class="fa fa-search"></i> Buscar
            </button>
            <!--<div id="busqueda" class="collapse container-fluid form-group well">-->
            <!--<label for="prom">Promedio</label>-->
            <!--<input id="prom" class="form-control" ng-model="query.prom"-->
            <!--placeholder="Ejemplo: <= [menor o igual] | >= [mayor o igual] | != [diferente]"/>-->
            <!--<label for="profMateria">Materia</label>-->
            <!--<select id="profMateria" class="form-control" ng-model="query.mat">-->
            <!--<option ng-repeat="option in materias" value="{{option.id}}">{{option.materia}}</option>-->
            <!--</select>-->

            <!--<label for="profPeriodo">Periodo</label>-->

            <!--<select id="profPeriodo" class="form-control" ng-model="query.per">-->
            <!--<option ng-repeat="option in periodos" value="{{option.id_tempo}}">{{option.periodo}}</option>-->
            <!--</select>-->
            <!--</div>-->
            <p>{{searchResult.length}} : resultados</p>
        </div>
    </form>

    <div ng-repeat="curso in searchResult">
        <div class="col-lg-6 col-md-6">
            <div class="panel panel-primary">
                <a href="" ng-click="getCursoDetails(curso)">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-male"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div><p>{{curso.curso}} </p></div>
                            </div>
                            <!--<div class="col-xs-9 text-left">-->
                                <!--<p><h6>Inicio: {{curso.inicio}}</h6> </p>-->
                                <!--<p><h6>Termino: {{curso.termino}}</h6> </p>-->
                            <!--</div>-->
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
