<div>
    <div>
        <h3 align="center"> Calificaciones para {{vm.materia.materia}} en el periodo {{vm.periodo.periodo}} </h3>
    </div>
    <br>
    <div>
        <div class="span9 btn-block">
            <button type="button" class="btn btn-large btn-block btn-primary -align-center" style="cursor:default;">
                Profesores
            </button>
        </div>
            <!--<i class="fa fa-print -align-right" ng-click="vm.generateCSV(profCursos, 'Profesores'  )"></i>-->

        <div class="table-responsive ">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Profesor</th>
                    <th>Grupo</th>
                    <th>Puntualidad</th>
                    <th>Contenido</th>
                    <th>Didáctica</th>
                    <th>Planeación</th>
                    <th>Evaluación</th>
                    <th>Actitud</th>
                    <th>Promedio</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="cal in vm.calificaciones">
                    <td>{{cal.nombre}}</td>
                    <td>{{cal.grupo}}</td>
                    <td>{{cal.puntualidad}}</td>
                    <td>{{cal.contenido}}</td>
                    <td>{{cal.didactica}}</td>
                    <td>{{cal.evaluacion}}</td>
                    <td>{{cal.planeacion}}</td>
                    <td>{{cal.actitud}}</td>
                    <td>{{cal.promedio}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <br>
</div>