
<div class="container main-content" ng-controller="PersonsController">
	<div class="row">
		<div class="col-md-12">
			<form class="form-inline well well-sm">
				<span class="glyphicon glyphicon-search"></span>

				<div class="form-group">
					<input type="text" class="form-control" id="name"
						ng-model="databaseSearch" placeholder="Search name..." />
				</div>

				<span class="glyphicon glyphicon-sort-by-attributes"></span>

				<div class="form-group">
					<select class="form-control" ng-model="order">
						<option value="name">Name (ASC)</option>
						<option value="-name">Name (DEC)</option>
						<option value="status">Status (ASC)</option>
						<option value="-status">Status (DEC)</option>
					</select>
				</div>

			</form>
		</div>
	</div>

	<div class="row">
		<div class="col-md-8">

			<table class="table table-bordered">

				<tr>
					<th>#</th>
					<th>Name <span ng-click="order = 'name'"
						class="glyphicon glyphicon-menu-up"></span> <span
						ng-click="order = '-name'" class="glyphicon glyphicon-menu-down"></span>
					</th>
					<th>Status <span ng-click="order = 'status'"
						class="glyphicon glyphicon-menu-up"></span> <span
						ng-click="order = '-status'" class="glyphicon glyphicon-menu-down"></span>
					</th>
					<th>Date</th>
				</tr>
				<tr
					ng-repeat="database in filteredDatabases = (databases | filter:databaseSensitiveSearch | orderBy:order)"
					ng-style="{
							 'background-color': $index == selectedIndexDatabase ? 'lightgray' :''
							 }"
					ng-click="selectDatabase(database, $index)">
					<!-- {
							 'background-color': $index == selectedIndexDatabase ? 'lightgray' :'' ,
							 
							 'border':  database.status == errorType  ? 'solid red' '': ,
							 'background-color': database.status == errorType ? '#FEAEAE' : '',
							 
							  'border':  database.status == warnType  ? 'solid green' : '',
							 'background-color': database.status == warnType ? '#B6FEB6' : ''
						} -->
					<td>{{ $index }}</td>
					<td>{{ database.name }}</td>
					<td>{{ database.status }}</td>
					<td>{{ database.date | date:"longDate" }}</td>
				</tr>
				<tr ng-show="filteredDatabases.length == 0">
					<td colspan="4">
						<div class="alert alert-info">
							<p class="text-center">No results found for search term '{{
								databaseSearch }}'</p>
						</div>
					</td>
				</tr>
			</table>

		</div>
		<div class="col-md-4">
			<div class="card ">
				<div class="card-header">Details</div>
					<div class="card-block">
					<dl>
						<dt>Name</dt>
						<dd>{{selectedDatabase.name}}</dd>
						<dt>Status</dt>
						<dd>{{selectedDatabase.status}}</dd>
						<dt>Date</dt>
						<dd>{{selectedDatabase.date | date:"longDate"}}</dd>
					</dl>
					<div ng-show="selectedDatabase != null">
						<div class="footer-buttons">
							<button class="btn btn-primary btn-lg btn-block"
								ng-click="getDatabaseDetails()"><span class="fa-check fa"></span>
								Detail</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


</div>
