<form>
    <div>
        <h3 align="center">
            <span contenteditable ng-model="vm.profDet.nombres">Hola</span>
            <span contenteditable ng-model="vm.profDet.a_paterno"></span>
            <span contenteditable ng-model="vm.profDet.a_materno"></span>
        </h3>
    </div>
    <br>

    <div class="table-responsive " ng-if="vm.isAdmin()">
        <table class="table table-borderless">
            <tbody>
            <tr>
                <td>
                    <label for="telFijo">Número Empleado: </label>
                </td>
                <td>
                    <input id="telFijo" class="form-control" ng-model="vm.profDet.f_telefono"/>
                </td>
                <td>
                    <label for="cedula"> Cédula: </label>
                </td>
                <td>
                    <input id="cedula" class="form-control" ng-model="vm.profDet.cedula"/>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="telMovil"> Teléfono movil: </label>
                </td>
                <td>
                    <input id="telMovil" class="form-control" ng-model="vm.profDet.m_telefono"/>
                </td>
                <td>
                    <label for="rfc"> RFC: </label>
                </td>
                <td>
                    <input id="rfc" class="form-control" ng-model="vm.profDet.rfc"/>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="telTrabajo"> Teléfono trabajo: </label>
                </td>
                <td>
                    <input id="telTrabajo" class="form-control" ng-model="vm.profDet.t_telefono"/>
                </td>
                <td>
                    <label for="fIngreso"> Fecha de ingreso: </label>
                </td>
                <td>
                    <input id="fIngreso" class="form-control" ng-model="vm.profDet.f_ingreso"/>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="ext"> Ext: </label>
                </td>
                <td>
                    <input id="ext" class="form-control" ng-model="vm.profDet.ext"/>
                </td>
                <td>
                    <label for="exOp"> Exámen de oposición: </label>
                </td>
                <!-- File UPLOAD-->
                <td>
                    <!--SHOWS DOWNLOAD AND DELETE-->
                    <div ng-if="vm.profDet.ex_oposicion !== null">
                        <a href="{{vm.filesLoc+vm.profDet.ex_oposicion}}" download="img.png">Descargar Archivo</a>
                        <button ng-if="vm.isAdmin()" type="button" class="btn btn-default"
                                ng-click="vm.removeExop(vm.profDet)"
                                ng-confirm-click="Eliminar archivo?">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </div>
                    <!--SHOWS LOAD FILE-->
                    <button ng-if="vm.profDet.ex_oposicion === null && vm.isAdmin()"
                            class="btn btn-default -align-center"
                            type="file" type="file"
                            ngf-select="vm.uploadFile($files)">Subir archivo
                    </button>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="correo"> Correo eléctronico: </label>
                </td>
                <td>
                    <input id="correo" class="form-control" ng-model="vm.profDet.mail"/>
                </td>
                <td>
                    <label for="grado"> Grado: </label>
                </td>
                <td>
                    <input id="grado" class="form-control" ng-model="vm.profDet.grado"/>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="col-md-7">
            <button class="btn btn-primary" ng-click="vm.saveChanges(vm.profDet)">
                Guardar Cambios
            </button>
        </div>
    </div>

    <div>
        <br>
        <div class="span9 btn-block">
            <button type="button" class="btn btn-large btn-block btn-primary -align-center" data-toggle="collapse"
                    data-target="#cursos">Cursos
            </button>
        </div>
        <i class="fa fa-print -align-right" ng-click="vm.generateCSV(vm.profCursos,'Cursos')"></i>
        <!---->
        <div id="cursos" class="collapse table-responsive ">
            <!--<h4 align="center">Cursos</h4>-->
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Curso</th>
                    <!--<th>Descripción</th>-->
                    <!--<th>Eje</th>-->
                    <!--<th>Tipo de curso</th>-->
                    <th>Fecha inicio</th>
                    <th>Fecha fin</th>
                    <th>Tipo</th>
                    <th>Archivo</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="curso in vm.profCursos">
                    <td>{{curso.curso}}</td>
                    <td>{{curso.inicio}}</td>
                    <td>{{curso.termino}}</td>
                    <td>{{curso.tipo}}</td>
                    <td>
                        <div ng-if="curso.constancia !== null">
                            <a href="{{vm.filesLoc+curso.constancia}}" download="{{vm.fileName(curso.constancia)}}">Descargar
                                Archivo</a>
                            <button ng-if="vm.isAdmin()"
                                    type="button" class="btn btn-default" ng-click="vm.removeConstancia(curso)"
                                    ng-confirm-click="Eliminar archivo?">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </div>
                        <div>
                            <button ng-if="curso.constancia === null && vm.isAdmin()"
                                    type="file" id="exOp" type="file"
                                    ngf-select="vm.uploadConstancia(curso,$files)">Subir archivo
                            </button>
                            <label ng-if="curso.constancia === null && !vm.isAdmin()"> No archivo</label>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <br>
    <div>
        <div class="span9 btn-block">
            <button type="button" class="btn btn-large btn-block btn-primary -align-center" data-toggle="collapse"
                    data-target="#calificaciones">Calificaciones
            </button>
        </div>
        <i class="fa fa-print -align-right" ng-click="vm.generateCSV(vm.profCal,'Calificaciones')"></i>
        <div id="calificaciones" class="collapse">
            <table class="table table-hover table-condensed">
                <tr>
                    <th>Periodo</th>
                    <th>Grupo</th>
                    <th>Asignatura</th>
                    <!--<th>Dominio del grupo</th>-->
                    <th>Puntualidad</th>
                    <th>Contenido</th>
                    <th>Didáctica</th>
                    <th>Planeación</th>
                    <th>Evaluación</th>
                    <th>Actitud</th>
                    <th>Promedio</th>
                    <th>Archivo</th>
                </tr>
                <tr ng-repeat="cal in vm.profCal">
                    <td>{{cal.periodo}}</td>
                    <td>{{cal.grupo}}</td>
                    <td>{{cal.materia}}</td>
                    <td>{{cal.puntualidad}}</td>
                    <td>{{cal.contenido}}</td>
                    <td>{{cal.didactica}}</td>
                    <td>{{cal.evaluacion}}</td>
                    <td>{{cal.planeacion}}</td>
                    <td>{{cal.actitud}}</td>
                    <td>{{cal.promedio}}</td>
                    <td>
                        <div ng-if="cal.comprobante !== null">
                            <a href="{{vm.filesLoc+cal.comprobante}}" download="{{vm.fileName(cal.comprobante)}}">Descargar
                                Archivo</a>
                            <button ng-if="vm.isAdmin()"
                                    type="button" class="btn btn-default" ng-click="vm.removeComprobante(cal)"
                                    ng-confirm-click="Eliminar archivo?">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </div>
                        <div>
                            <button ng-if="cal.comprobante === null && vm.isAdmin()"
                                    type="file"
                                    id="exOp" type="file"
                                    ngf-select="vm.uploadComprobante(cal,$files)">Subir archivo
                            </button>
                            <label ng-if="cal.comprobante === null && !vm.isAdmin('calif')">No archivos</label>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</form>
