<div >
    <h3 align="center">Consultar profesor</h3>
    <br>
    <form ng-keypress="vm.queryProfessors($event,query)">
        <div class="container-fluid">
            <div class="form-group">
                <label for="profName"> Nombre Profesor </label>
                <input
                        id="profName"
                        class="form-control"
                        placeholder="Profesor" ng-model="query.name"
                />
            </div>
            <div id="busqueda" class="collapse container-fluid form-group well">
                <label for="prom">Promedio</label>
                <input id="prom" class="form-control" ng-model="query.prom"
                       placeholder="Ejemplo: <= [menor o igual] | >= [mayor o igual] | != [diferente]"/>
                <label for="profMateria">Materia</label>
                <select id="profMateria" class="form-control" ng-model="query.mat">
                    <option ng-repeat="option in vm.materias" value="{{option.id}}">{{option.materia}}</option>
                </select>

                <label for="profPeriodo">Periodo</label>

                <select id="profPeriodo" class="form-control" ng-model="query.per">
                    <option ng-repeat="option in vm.periodos" value="{{option.id_tempo}}">{{option.periodo}}</option>
                </select>
            </div>
            <div>
                <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#busqueda">Búsqueda
                    avanzada
                </button>
                <button type="button" class="btn btn-default right-block"
                        ng-click="vm.queryProfessors($event,query)">
                    <i class="fa fa-search"></i> Buscar
                </button>
            </div>
            <p>{{vm.searchResult.length}} : resultados</p>
        </div>
    </form>

    <div ng-repeat="profesor in vm.searchResult">
        <div class="col-lg-6 col-md-6">
            <div class="panel panel-primary">
                <a href="" ng-click="vm.getProfessorDetails(profesor)">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-male"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <p>{{profesor.a_paterno}} {{profesor.a_materno}}
                                    {{profesor.nombres}} </p>
                            </div>
                            <div class="col-xs-9 text-left">
                                <p><h6>{{vm.promedioLabel()}} <strong>{{profesor.promedio}}</strong></h6></p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
